In [20]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [21]:
import numpy as np
import pandas as pd

In [22]:
accounts=pd.read_csv('accounts.csv', encoding = 'unicode_escape')
salesforce=pd.read_csv('sfdcusers.csv')
cisco=pd.read_csv('territories-cisco.csv')
US=pd.read_csv('US-territories.csv')

In [23]:
accounts.head()
salesforce.head()
cisco.head()
US.head()

,Account Name,Account ID,Account Owner,Billing State/Province,Billing Country,Cisco SL6
0,YPTO,0011T00002KXfvK,Megan Dearman - Renewals,BRUXELLES-CAPITALE,BE,PMJ_BEL_NAT_RAILWAY
1,Würth-Hochenburger GmbH,0011T00002KXg6T,Andreas Goldschmidt,7,AT,CMD_AUT_VSAM3_WEST
2,Mira Telecomunicacions - Santander,0011T00002KXg8A,Xavier Garcia,MD,ES,Spain_Geo_Owner_Team (SBU_ESP_CENTER_SBM)
3,HELMAN ALDUBI PROVIDENT FUNDS LTD,0011T00002KXg8K,Soura Lanusse Diallo,NaN,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1)
4,Vak?f Katilim,0011T00002KXgFO,Rami Abbas,34,TR,CSL_TUR_AM2

           Full Name          User ID  Active Role Profile
0    Michael Cherpak  0051T000008Ec2p       1  BDR     BDR
1       Tyler Silvas  0051T000008Ek9j       1  BDR     BDR
2           Evi Gold  0051T000008QsJw       1  BDR     BDR
3        Tyler Green  0051T000008R0YL       1  BDR     BDR
4  Alexandra Barrett  0051T000008R3CI       1  BDR     BDR

,Territory,Owner,Round Robin Name,PostalCode,City,State,Country,Cisco SL6
0,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,NaN,CMS_CWA_SOUTHWEST COMMERCIAL MIDSIZE
1,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,NaN,CMS_CWA_ROCKIES COMMERCIAL MIDSIZE
2,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,NaN,CMS_CWA_SILICON VALLEY COMMERCIAL MIDSIZE
3,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,NaN,CMS_CWA_SOUTH PACIFIC COMMERCIAL MIDSIZE
4,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,NaN,CMS_CWA_NORTHERN CALIFORNIA COM MIDSIZE

,Territory,Owner,Round Robin Name,PostalCode,City,State,Country,Custom Field
0,Central Territory,Evi Gold,NaN,NaN,NaN,MO,US,NaN
1,Central Territory,Evi Gold,NaN,NaN,NaN,KS,US,NaN
2,Central Territory,Evi Gold,NaN,NaN,NaN,ND,US,NaN
3,Central Territory,Evi Gold,NaN,NaN,NaN,MN,US,NaN
4,Central Territory,Evi Gold,NaN,NaN,NaN,WI,US,NaN

In [69]:
cisco_updated=cisco.merge(salesforce, how='outer', left_on='Owner', right_on='Full Name')

In [24]:
cisco['Territory'].value_counts()

cisco['Owner'].value_counts()

cisco['Cisco SL6'].value_counts()

Ges                    4222
EMEA - Germany         1783
EMEA - Central         1682
EMEA - South           1643
EMEA - UK&I            1223
EMEA - North           1151
EMEA - Mea              970
Latam                   306
Fed                     155
Canada                  106
APJC                     98
East Sled Territory      80
West Sled Territory      50
East Territory           36
Central Territory        33
SBU East                 29
SBU West                 27
West Territory           27
South Territory          25
Name: Territory, dtype: int64

Sandeep Gill           4222
Liv Gale               2905
Abdullah Er-Rachdi     2241
Sam El Rhezzali        1936
Peter Igbanugo         1370
Anthony Garcia BDR      306
Tyler Silvas            235
Alexandra Barrett       106
Hendrik Gunawan BDR      98
Tim Davidson             50
Michael Cherpak          36
Evi Gold                 33
Mark Hennessy BDR        29
Sarah Westerbeck         27
Susanna Tyagi            27
Maxwell Stanley          25
Name: Owner, dtype: int64

CSL_FRA_IDF2_HEALTH_AM1        1
GLL_K_ADOBE_IE                 1
GLL_ERICSSON_EMEAR_KWT         1
GLL_DEUTSCHE_BANK              1
PMJ_EAW_XXXX2                  1
CMD_BEL_AM2                    1
PSL_FRA_LOCAL_IDF_2            1
SPARE_MID_COL_OTHER            1
PMD_ITA_EURO_FOOD_SAFE_AU      1
GLL_CREDIT_AGRI_EMEAR_A1       1
CSL_JOR_AM2                    1
GLL_K_BAXTER_EMEAR_CH          1
COM_ISR_SELECT                 1
PURSUE_TEAM_1_KWT              1
GER_SP_BC_TEAM2                1
PMD_PAK_AM2                    1
GLL_K_ACCENTURE_CZ             1
GLL_CREDIT_AGRI_APJ_PHL        1
GLL_K_AIG_EG                   1
CSL_DNK_AM2                    1
CSL_RUS_SOU_AM1                1
CSL_CHE_TER5_AM1               1
GLL_P_WALMART_EMEAR_OTHER      1
SLED-NYS Select L6             1
PSL_PAK_AM5                    1
GLL_K_DOW CHEMICAL_IL          1
PAYCHEX_                       1
GLL_AIRBUS_US_C_CAN            1
GLL_K_HONEYWELL_US             1
ITSP_SMALL BUS_OTHER_ENT       1
                              ..
PMJ_EGY_MOEAE                  1
SBU_NN GREATER PENNSYLVANIA    1
GLL_K_E AND Y_DE               1
GLL_K_E AND Y_IT               1
GLL_K_STATE STREET_ID          1
GLL_NESTLE_EMEAR_SVK           1
COM_DEU_CENTRAL_TAM5           1
GLL_K_VISA_AE                  1
SBU_MDA_PSR2                   1
PMJ_ARE_FED_GOV                1
COM_DEU_SOUTH_TAM7             1
GLL_K_NETAPP_AT                1
GLL_GSK_EMEAR_DEU              1
COM_FRA_IDF2                   1
GLL_P_JPMC_RU                  1
GVS_DUMMY_GENO2                1
GLL_K_GOLDMAN SACHS_TH         1
EMJ_SWE_VOLVO_BELGIUM          1
PMJ_NLD_CURE_VERNEDZIEKEN      1
GLL_ABB_EMEAR_ITA              1
GLL_K_METLIFE_LU               1
GLL_SAP_APJ_THA                1
CSL_ARG_CML_ENERGY_MATERIAL    1
GLL_RBS_APJ_THA                1
GLL_K_CUMMINS_GR               1
GLL_K_ACCENTURE_GC_OTHER       1
GLL_BAYER_EMEAR_CHE            1
GLL_WPP_EMEAR_ITA              1
GLL_K_UNITED TECH_BE           1
ENT_RUS_OTHER                  1
Name: Cisco SL6, Length: 13646, dtype: int64

In [33]:
accounts_updated = accounts.merge(cisco_updated, on="Cisco SL6", how='left')

accounts.count()

Account Name              10291
Account ID                10292
Account Owner             10292
Billing State/Province     9763
Billing Country           10262
Cisco SL6                  6864
dtype: int64

In [34]:
accounts_updated.head()

,Account Name,Account ID,Account Owner,Billing State/Province,Billing Country,Cisco SL6,Territory,Owner,PostalCode,City,State,Country,User ID
0,YPTO,0011T00002KXfvK,Megan Dearman - Renewals,BRUXELLES-CAPITALE,BE,PMJ_BEL_NAT_RAILWAY,EMEA - North,Abdullah Er-Rachdi,NaN,NaN,NaN,NaN,0051T000008R4vO
1,Würth-Hochenburger GmbH,0011T00002KXg6T,Andreas Goldschmidt,7,AT,CMD_AUT_VSAM3_WEST,EMEA - Central,Liv Gale,NaN,NaN,NaN,NaN,005500000089dCc
2,Mira Telecomunicacions - Santander,0011T00002KXg8A,Xavier Garcia,MD,ES,Spain_Geo_Owner_Team (SBU_ESP_CENTER_SBM),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HELMAN ALDUBI PROVIDENT FUNDS LTD,0011T00002KXg8K,Soura Lanusse Diallo,NaN,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Vak?f Katilim,0011T00002KXgFO,Rami Abbas,34,TR,CSL_TUR_AM2,EMEA - Mea,Sam El Rhezzali,NaN,NaN,NaN,NaN,0051T000008R52o

In [66]:
cisco_updated.head()

,Territory,Owner,PostalCode,City,State,Country,Cisco SL6,User ID
0,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,CMS_CWA_SOUTHWEST COMMERCIAL MIDSIZE,0051T000008bv0d
1,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,CMS_CWA_ROCKIES COMMERCIAL MIDSIZE,0051T000008bv0d
2,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,CMS_CWA_SILICON VALLEY COMMERCIAL MIDSIZE,0051T000008bv0d
3,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,CMS_CWA_SOUTH PACIFIC COMMERCIAL MIDSIZE,0051T000008bv0d
4,West Territory,Susanna Tyagi,NaN,NaN,NaN,NaN,CMS_CWA_NORTHERN CALIFORNIA COM MIDSIZE,0051T000008bv0d

In [35]:
drop_list = [ 'PostalCode', 'City', 'State', 'Country']
drop_list2= ['Round Robin Name', 'PostalCode','City','Custom Field']

accounts_updated.drop(labels=drop_list, axis=1, inplace=True)
US.drop(labels=drop_list2, axis=1, inplace=True)

KeyError: "['Round Robin Name' 'PostalCode' 'City' 'Custom Field'] not found in axis"

In [36]:
accounts_updated['Cisco SL6'].value_counts()
 
accounts_updated.count()

accounts.isnull().sum()

SBU_EAW_NORTH_TEAM                           150
SBU_EAW_SOUTH_TEAM                           105
SBU_EAW_LONDON_TEAM                           95
Italy_Geo_Owner_Team (SBU_ITA_CS1_SBM1)       92
Spain_Geo_Owner_Team (SBU_ESP_CENTER_SBM)     75
SBU_NN NORTHERN CALIFORNIA                    75
SBU_NN CAROLINAS                              65
SBU_NN NORTH PACIFIC                          65
SBU_ANZ_AU_NSW_TER1                           63
SBU_NN MID SOUTH                              60
SBU_NN NORTH TEXAS                            59
Israel_Geo_Owner_Team (SBU_ISR_SBM1)          56
SBU_NN ATLANTIC SHORE                         54
SBU_NN MIDATLANTIC                            53
SBU_NN NYC METRO DOWNTOWN                     52
SBU_NN GA TN                                  50
SBU_NN PHILADELPHIA METRO                     49
SBU_NN SOUTHWEST                              48
SBU_NN HIGH PLAINS                            47
SBU_NN CHICAGO METRO                          47
SBU_ANZ_AU_VIC_TER1                           47
SBU_NN SOUTH TEXAS                            46
SBU_NN SOUTH PACIFIC                          46
SBU_NN SOUTH FLORIDA                          45
SBU_NN NORTHWEST                              44
SBU_NN GREATER UPSTATE                        43
ADAP MAPPING STILL IN PROGRESS                43
SBU_PSR_BRA_CNNE_PSR1 rogata                  43
SBU_NN NORTH FLORIDA                          41
SBU_NN GREAT LAKES                            40
                                            ...
SBU_IND_STH3_AP_PL                             1
CSL_JPN_KANTO_MFG_2                            1
PMD_SCT_GOV1_VSAM                              1
GLL_AXA_US_C_USA                               1
CMD_JPN_KANSAI_VSAM_MFG_1                      1
SBU_PSR_BRA_MGS_PSR3 egilo                     1
FED-AP STATE TEAM L6                           1
SITA_EMEAR                                     1
SBU_FRA_NORTH_SBM1                             1
GLL_VW_LATAM_BRA                               1
GLL_AXA_APJ_PHL                                1
PSL_TUR_AM3                                    1
SBU_RUS_URAL_AM1                               1
GLL_ENGIE_SUEZ_EMEAR_GBR                       1
PMD_EAW_HCLG_NE                                1
EMJ_DEU_C_UND_A                                1
SLED-Wyoming Mid-Size-L6                       1
GLL_P_WALMART_US                               1
EMJ_SWE_SEB                                    1
SBU_NAMED GA TN                                1
CSL_DEU_WEST_AM1 skocak                        1
SLED-STATE OH Major L6                         1
PSL_EGY_AM2 kaezzat                            1
WEST AB PS MAJOR                               1
SLED-NYC Midsize L6                            1
PSL_CHE_LGOV_GER_AM3                           1
PSL_SWE_REGIONAL_3                             1
CMD_ANZ_AU_NSW_VSAM6                           1
K_PROVIDENCE                                   1
JP_SP_PR_NTT_DD_AU                             1
Name: Cisco SL6, Length: 1762, dtype: int64

Account Name              10291
Account ID                10292
Account Owner             10292
Billing State/Province     9763
Billing Country           10262
Cisco SL6                  6864
Territory                  4062
Owner                      4062
User ID                    4062
dtype: int64

Account Name                 1
Account ID                   0
Account Owner                0
Billing State/Province     529
Billing Country             30
Cisco SL6                 3428
dtype: int64

In [37]:
accounts_set1=accounts_updated[accounts_updated['Cisco SL6'].notnull()]

,Account Name,Account ID,Account Owner,Billing State/Province,Billing Country,Cisco SL6,Territory,Owner,User ID
0,YPTO,0011T00002KXfvK,Megan Dearman - Renewals,BRUXELLES-CAPITALE,BE,PMJ_BEL_NAT_RAILWAY,EMEA - North,Abdullah Er-Rachdi,0051T000008R4vO
1,Würth-Hochenburger GmbH,0011T00002KXg6T,Andreas Goldschmidt,7,AT,CMD_AUT_VSAM3_WEST,EMEA - Central,Liv Gale,005500000089dCc
2,Mira Telecomunicacions - Santander,0011T00002KXg8A,Xavier Garcia,MD,ES,Spain_Geo_Owner_Team (SBU_ESP_CENTER_SBM),NaN,NaN,NaN
3,HELMAN ALDUBI PROVIDENT FUNDS LTD,0011T00002KXg8K,Soura Lanusse Diallo,NaN,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1),NaN,NaN,NaN
4,Vak?f Katilim,0011T00002KXgFO,Rami Abbas,34,TR,CSL_TUR_AM2,EMEA - Mea,Sam El Rhezzali,0051T000008R52o
5,D.G. Khan Cement Company,0011T00002KXgHy,Rami Abbas,PB,PK,CSL_PAK_AM2,EMEA - Mea,Sam El Rhezzali,0051T000008R52o
6,KPMG Barbados,0011T00002KXgK4,Russell Doherty,NaN,BB,GLL_K_KPMG_LATAM_OTHER,Ges,Sandeep Gill,005500000076A7R
7,Kyungil University,0011T00002KXgL2,Forrest Bashaw AE,26,KR,KR_PS_SL_REG3_TAM1,NaN,NaN,NaN
8,OKINAWA UNIVERSITY,0011T00002KXgND,Rion Hotta,OKINAWA,JP,JP_PS_MD_OKINW_VSAM_EDU,NaN,NaN,NaN
9,"Roechling Medical Lancaster, LLC",0011T00002KXgNw,Forrest Bashaw,PA,US,VS-US-COM-EAST-G-VSAM-14 (DNU_GTAM PHILADELPHI...,NaN,NaN,NaN
10,Hadassah Hospital,0011T00002KXgRZ,Xavier Garcia,JM,IL,PSL_ISR_HEALTHCARE_AM1,EMEA - South,Peter Igbanugo,00550000007fy8d
11,WESTCON COMSTOR,0011T00002KXgRt,Michael Messuri,INDIANA,US,CSL_CEA_GREATER UPSTATE COM SELECT,East Territory,Michael Cherpak,0051T000008Ec2p
12,Energy Safety Canada,0011T00002KXgYf,Blair Singler,ON,CA,SBU_CAN_WEST I_SBSM,NaN,NaN,NaN
13,Anvil Engineering,0011T00002KXgaC,Augusto Silva AE,TX,US,SBU_NN SOUTH TEXAS,SBU East,Mark Hennessy BDR,00550000006LcVE
14,Hoffman and Hoffman,0011T00002KXgaR,Mark Hennessy,NC,US,SBU_NN CAROLINAS,SBU East,Mark Hennessy BDR,00550000006LcVE
15,Wissam Oreibi MSP Service,0011T00002KXgd6,Danielle Painter,CA,US,SBU_NN SOUTH PACIFIC,SBU West,Sarah Westerbeck,00550000007fy8Y
16,Baldwin Paving,0011T00002KXgoY,Matt Duchesne,GA,US,SBU_NN GA TN,SBU East,Mark Hennessy BDR,00550000006LcVE
17,On Spot Techs,0011T00002KXhDw,Alex Spahi - MSP,OH,US,NN_SB SoKy Velocity,NaN,NaN,NaN
18,ROOTY HILL RSL CLUB LTD,0011T00002KXhRz,Shefali Yadava,NSW,AU,SBU_ANZ_AU_NSW_TER1,NaN,NaN,NaN
19,FLEURAMETZ HOLDING BV,0011T00002KXhrt,Megan Dearman - Renewals,NH,NL,CMD_NLD_VSAM2,EMEA - North,Abdullah Er-Rachdi,0051T000008R4vO
20,LEUNG PUI FORM MOULD & ENGINEERING LTD,0011T00002KXhtB,Cathy Lui,HK,HK,SBU_GC_HK_WS_AM1 jowong2,NaN,NaN,NaN
21,ASCOM MOBILE SOLUTIONS ROMANIA SRL,0011T00002KXhtL,Megan Dearman - Renewals,NaN,RO,SBU_ROU_AM1,EMEA - Central,Liv Gale,005500000089dCc
22,PENRHOS COLLEGE,0011T00002KXi9e,Scott Ko,WA,AU,CMD_ANZ_AU_WA_VSAM1,NaN,NaN,NaN
23,Spoon,0011T00002KXiDC,Nicholas Norsker,AB,SE,CSL_SWE_AM1,EMEA - North,Peter Igbanugo,00550000007fy8d
24,Inglis Foundation,0011T00002KXiDv,Mark Hennessy BDR,PA,US,SBU_NN PHILADELPHIA METRO,SBU East,Mark Hennessy BDR,00550000006LcVE
25,Zenuity AB,0011T00002KXiFI,Nicholas Norsker,AB,SE,EMJ_SWE_VOLVO_SWEDEN,EMEA - North,Peter Igbanugo,00550000007fy8d
26,STERN H ISRAEL JEWELLERY & PRECIOUS STONES LTD,0011T00002KXiUe,Soura Lanusse Diallo,MERKAZ,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1),NaN,NaN,NaN
27,GECU - ELA_CL,0011T00002KXicY,Becky Yamada,TX,US,CSL_CSA_SOUTH TEXAS COMMERCIAL SELECT,South Territory,Maxwell Stanley,0051T000008bv0i
28,Freeport LNG_EA,0011T00002KXie0,Kelsey Ostoj,TX,US,CSL_CSA_SOUTH TEXAS COMMERCIAL SELECT,South Territory,Maxwell Stanley,0051T000008bv0i
29,Nye Technical Services,0011T00002KXif8,Kevin Winkler,PA,US,SBU_NN GREATER PENNSYLVANIA,SBU East,Mark Hennessy BDR,00550000006LcVE
...,...,...,...,...,...,...,...,...,...
9747,METROTECH,0011T00002OMrtD,SFDC ADMIN,FL,US,SBU_NN NORTH FLORIDA,SBU East,Mark Hennessy BDR,00550000006LcVE
9753,knappjerome@gmail.com,0011T00002OMtfT,SFDC ADMIN,Wisconsin,US,SBU_NN WISC ILLINOIS,SBU West,Sarah Westerbeck,00550000007fy8Y
9761,Chase Systems,0011T00002OMuoM,SFDC ADMIN,Utah,US,CMS_CEA_BOSTON METRO COM MIDSIZE,East Territory,Michael Cherpak,0051T000008Ec2p
9775,matt@matthewlemke.com,0011T00002OMzDq,SFDC ADMIN,TX,US,ADAP MAPPING STILL IN PROGRESS,NaN,NaN,NaN
9780,NAI-HIFFMAN INC,0011T00002ON1NB,SFDC ADMIN,IL,US,SBU_NN CHICAGO METRO,SBU West,Sarah Westerbeck,00550000007fy8Y
9781,SAN CLEMENTE CHRISTIAN SCHOOL,0011T00002ON1UC,SFDC ADMIN,CA,US,SBU_NN SOUTH PACIFIC,SBU West,Sarah Westerbeck,00550000007fy8Y
9789,RISD DISTRIBUTION CENTER,0011T00002ON1ze,SFDC ADMIN,TX,US,SLED-North Texas Select-L6,West Sled Territory,Tim Davidson,0051T000008R4Zw
9791,HATTERAS INC,0011T00002ON21a,SFDC ADMIN,GA,US,SBU_NN GA TN,SBU East,Mark Hennessy BDR,00550000006LcVE
9823,CEDAR ELECTRONICS,0011T00002ONLik,SFDC ADMIN,IL,US,SBU_NAMED CHICAGO METRO,SBU West,Sarah Westerbeck,00550000007fy8Y
9831,OPEN OPTIONS LP,0011T00002ONO9w,SFDC ADMIN,TX,US,SBU_NN NORTH TEXAS,SBU East,Mark Hennessy BDR,00550000006LcVE
9839,RESOUND MARKETING,0011T00002ONOkD,SFDC ADMIN,NY,US,SBU_NN NYC METRO DOWNTOWN,SBU East,Mark Hennessy BDR,00550000006LcVE
9868,INTRACOASTAL INFORMATION SERVICES,0011T00002ONTeQ,SFDC ADMIN,NC,US,TO BE MAPPED,NaN,NaN,NaN
9876,HERITAGE WAY ADVISORS LLC,0011T00002ONUn9,SFDC ADMIN,IL,US,SBU_NN WISC ILLINOIS,SBU West,Sarah Westerbeck,00550000007fy8Y
9878,AQUATIC RESOURCE RESTORATION COMPANY,0011T00002ONW5C,SFDC ADMIN,PA,US,SBU_NN GREATER PENNSYLVANIA,SBU East,Mark Hennessy BDR,00550000006LcVE
9889,ALEXANDRIA RENEW ENTERPRISES ENGI,0011T00002ONYKi,SFDC ADMIN,VA,US,SBU_NN MIDATLANTIC,SBU East,Mark Hennessy BDR,00550000006LcVE
9891,MONREAL CONSULTING CORPORATION,0011T00002ONYMt,SFDC ADMIN,OH,US,SBU_NN GREAT LAKES,SBU West,Sarah Westerbeck,00550000007fy8Y
9892,GORDON SCOTT,0011T00002ONYPE,SFDC ADMIN,FL,US,SBU_NN NORTH FLORIDA,SBU East,Mark Hennessy BDR,00550000006LcVE
9916,CRAIG VAN BLARICUM,0011T00002ONbRy,SFDC ADMIN,NY,US,TO BE MAPPED,NaN,NaN,NaN
9936,T2 TECHNOLOGY GROUP LLC,0011T00002ONg8J,SFDC ADMIN,CA,US,SBU_NN NORTH PACIFIC,SBU West,Sarah Westerbeck,00550000007fy8Y
9949,WESTMEADOW FARM,0011T00002ONk1e,SFDC ADMIN,NY,US,SBU_NN GREATER UPSTATE,SBU East,Mark Hennessy BDR,00550000006LcVE
9952,ANDRES SARMIENTO,0011T00002ONkjc,SFDC ADMIN,FL,US,SBU_NN SOUTH FLORIDA,SBU East,Mark Hennessy BDR,00550000006LcVE
9969,CONESSO,0011T00002ONqTN,SFDC ADMIN,MI,US,SBU_NN GREAT LAKES,SBU West,Sarah Westerbeck,00550000007fy8Y
9970,MUNSON ROWLETT MOORE BOONE PA,0011T00002ONqXA,SFDC ADMIN,AR,US,SBU_NN MID SOUTH,SBU East,Mark Hennessy BDR,00550000006LcVE
9990,BRINET,0011T00002ONua0,SFDC ADMIN,NC,US,SBU_NN CAROLINAS,SBU East,Mark Hennessy BDR,00550000006LcVE
10053,BREVORKA LAW FIRM PC,0011T00002OOCcK,SFDC ADMIN,NC,US,SBU_NN CAROLINAS,SBU East,Mark Hennessy BDR,00550000006LcVE
10057,CAROLINA BIOONCOLOGY INSTITUTE PLLC,0011T00002OOCiS,SFDC ADMIN,NC,US,SBU_NN CAROLINAS,SBU East,Mark Hennessy BDR,00550000006LcVE
10086,FOCUS SYSTEMS LLC,0011T00002OOIK3,SFDC ADMIN,WI,US,TO BE MAPPED,NaN,NaN,NaN
10092,SAFCO DENTAL SUPPLY COMPANY,0011T00002OOIpW,SFDC ADMIN,IL,US,SBU_NN WISC ILLINOIS,SBU West,Sarah Westerbeck,00550000007fy8Y
10095,VITA IT COMERCIO E SERVICOS DE SOLUCOES EM TI ...,0011T00002OOJIr,SFDC ADMIN,FL,US,TO BE MAPPED,NaN,NaN,NaN
10169,112 INC,0011T00002OOZYc,SFDC ADMIN,NY,US,CMS_CEA_NYC METRO UPTOWN COM MIDSIZE,East Territory,Michael Cherpak,0051T000008Ec2p

## Adding the USER ID to accounts list

In [43]:
SF2=pd.read_csv('sfdcusers2.csv')

SF2.head()

               Owner      Account Owner          User ID  Active Role Profile
0    Michael Cherpak    Michael Cherpak  0051T000008Ec2p       1  BDR     BDR
1       Tyler Silvas       Tyler Silvas  0051T000008Ek9j       1  BDR     BDR
2           Evi Gold           Evi Gold  0051T000008QsJw       1  BDR     BDR
3        Tyler Green        Tyler Green  0051T000008R0YL       1  BDR     BDR
4  Alexandra Barrett  Alexandra Barrett  0051T000008R3CI       1  BDR     BDR

In [44]:
accounts2=accounts_updated.merge(SF2, on='Owner', how='left')

In [45]:
accounts2.count()
accounts2.head()

Account Name              10291
Account ID                10292
Account Owner_x           10292
Billing State/Province     9763
Billing Country           10262
Cisco SL6                  6864
Territory                  4062
Owner                      4062
User ID_x                  4062
Account Owner_y            4062
User ID_y                  4062
Active                     4062
Role                       4062
Profile                    4062
dtype: int64

,Account Name,Account ID,Account Owner_x,Billing State/Province,Billing Country,Cisco SL6,Territory,Owner,User ID_x,Account Owner_y,User ID_y,Active,Role,Profile
0,YPTO,0011T00002KXfvK,Megan Dearman - Renewals,BRUXELLES-CAPITALE,BE,PMJ_BEL_NAT_RAILWAY,EMEA - North,Abdullah Er-Rachdi,0051T000008R4vO,Abdullah Er-Rachdi,0051T000008R4vO,1.0,BDR,BDR
1,Würth-Hochenburger GmbH,0011T00002KXg6T,Andreas Goldschmidt,7,AT,CMD_AUT_VSAM3_WEST,EMEA - Central,Liv Gale,005500000089dCc,Liv Gale,005500000089dCc,1.0,BDR,BDR
2,Mira Telecomunicacions - Santander,0011T00002KXg8A,Xavier Garcia,MD,ES,Spain_Geo_Owner_Team (SBU_ESP_CENTER_SBM),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HELMAN ALDUBI PROVIDENT FUNDS LTD,0011T00002KXg8K,Soura Lanusse Diallo,NaN,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Vak?f Katilim,0011T00002KXgFO,Rami Abbas,34,TR,CSL_TUR_AM2,EMEA - Mea,Sam El Rhezzali,0051T000008R52o,Sam El Rhezzali,0051T000008R52o,1.0,BDR,BDR

## Need to split the acconuts file by accounts that have Cisco SL6 and account owner and those without will be have thier owners identified using billing state

### Will load current data onto CSV then copy and paste data set without SL6 onto new CSV

In [46]:
accounts2.to_csv('accounts_updated.csv')

In [110]:
US.head()

           Territory     Owner State Country
0  Central Territory  Evi Gold    MO      US
1  Central Territory  Evi Gold    KS      US
2  Central Territory  Evi Gold    ND      US
3  Central Territory  Evi Gold    MN      US
4  Central Territory  Evi Gold    WI      US

## need to load remaining data without USER ID

### this will be identified using US state territory information

In [48]:
accounts_remaining=pd.read_csv('accounts_remaining.csv')

accounts_remaining.head()

,Unnamed: 0,Account Name,Account ID,Account Owner_x,Billing State/Province,Billing Country,Cisco SL6
0,2,Mira Telecomunicacions - Santander,0011T00002KXg8A,Xavier Garcia,MD,ES,Spain_Geo_Owner_Team (SBU_ESP_CENTER_SBM)
1,3,HELMAN ALDUBI PROVIDENT FUNDS LTD,0011T00002KXg8K,Soura Lanusse Diallo,NaN,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1)
2,7,Kyungil University,0011T00002KXgL2,Forrest Bashaw AE,26,KR,KR_PS_SL_REG3_TAM1
3,8,OKINAWA UNIVERSITY,0011T00002KXgND,Rion Hotta,OKINAWA,JP,JP_PS_MD_OKINW_VSAM_EDU
4,9,"Roechling Medical Lancaster, LLC",0011T00002KXgNw,Forrest Bashaw,PA,US,VS-US-COM-EAST-G-VSAM-14 (DNU_GTAM PHILADELPHI...

In [60]:
accounts_remaining.count()

Unnamed: 0                6230
Account Name              6229
Account ID                6230
Account Owner_x           6230
Billing State/Province    5949
Billing Country           6228
Cisco SL6                 2802
dtype: int64

## Giving USER ID to each individual is US list

In [50]:
US.head()

salesforce.head()

           Territory     Owner State Country
0  Central Territory  Evi Gold    MO      US
1  Central Territory  Evi Gold    KS      US
2  Central Territory  Evi Gold    ND      US
3  Central Territory  Evi Gold    MN      US
4  Central Territory  Evi Gold    WI      US

           Full Name          User ID  Active Role Profile
0    Michael Cherpak  0051T000008Ec2p       1  BDR     BDR
1       Tyler Silvas  0051T000008Ek9j       1  BDR     BDR
2           Evi Gold  0051T000008QsJw       1  BDR     BDR
3        Tyler Green  0051T000008R0YL       1  BDR     BDR
4  Alexandra Barrett  0051T000008R3CI       1  BDR     BDR

In [51]:
US_list=US.merge(salesforce, how='left', left_on='Owner', right_on='Full Name')

In [52]:
US_list.head()

,Territory,Owner,State,Country,Full Name,User ID,Active,Role,Profile
0,Central Territory,Evi Gold,MO,US,Evi Gold,0051T000008QsJw,1,BDR,BDR
1,Central Territory,Evi Gold,KS,US,Evi Gold,0051T000008QsJw,1,BDR,BDR
2,Central Territory,Evi Gold,ND,US,Evi Gold,0051T000008QsJw,1,BDR,BDR
3,Central Territory,Evi Gold,MN,US,Evi Gold,0051T000008QsJw,1,BDR,BDR
4,Central Territory,Evi Gold,WI,US,Evi Gold,0051T000008QsJw,1,BDR,BDR

In [54]:
US_list_new=US_list[['Territory','Owner','State','Country','User ID','Role']]

US_list_new.head()

           Territory     Owner State Country          User ID Role
0  Central Territory  Evi Gold    MO      US  0051T000008QsJw  BDR
1  Central Territory  Evi Gold    KS      US  0051T000008QsJw  BDR
2  Central Territory  Evi Gold    ND      US  0051T000008QsJw  BDR
3  Central Territory  Evi Gold    MN      US  0051T000008QsJw  BDR
4  Central Territory  Evi Gold    WI      US  0051T000008QsJw  BDR

In [58]:
account_list2=accounts_remaining.merge(US_list_new, how='left', left_on='Billing State/Province', right_on='State')

account_list2.head()
account_list2.count()

,Unnamed: 0,Account Name,Account ID,Account Owner_x,Billing State/Province,Billing Country,Cisco SL6,Territory,Owner,State,Country,User ID,Role
0,2,Mira Telecomunicacions - Santander,0011T00002KXg8A,Xavier Garcia,MD,ES,Spain_Geo_Owner_Team (SBU_ESP_CENTER_SBM),East Territory,Michael Cherpak,MD,US,0051T000008Ec2p,BDR
1,3,HELMAN ALDUBI PROVIDENT FUNDS LTD,0011T00002KXg8K,Soura Lanusse Diallo,NaN,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1),NaN,NaN,NaN,NaN,NaN,NaN
2,7,Kyungil University,0011T00002KXgL2,Forrest Bashaw AE,26,KR,KR_PS_SL_REG3_TAM1,NaN,NaN,NaN,NaN,NaN,NaN
3,8,OKINAWA UNIVERSITY,0011T00002KXgND,Rion Hotta,OKINAWA,JP,JP_PS_MD_OKINW_VSAM_EDU,NaN,NaN,NaN,NaN,NaN,NaN
4,9,"Roechling Medical Lancaster, LLC",0011T00002KXgNw,Forrest Bashaw,PA,US,VS-US-COM-EAST-G-VSAM-14 (DNU_GTAM PHILADELPHI...,East Territory,Michael Cherpak,PA,US,0051T000008Ec2p,BDR

Unnamed: 0                6230
Account Name              6229
Account ID                6230
Account Owner_x           6230
Billing State/Province    5949
Billing Country           6228
Cisco SL6                 2802
Territory                 2235
Owner                     2235
State                     2235
Country                   2235
User ID                   2235
Role                      2235
dtype: int64

In [61]:
account_list2.isnull().sum()

Unnamed: 0                   0
Account Name                 1
Account ID                   0
Account Owner_x              0
Billing State/Province     281
Billing Country              2
Cisco SL6                 3428
Territory                 3995
Owner                     3995
State                     3995
Country                   3995
User ID                   3995
Role                      3995
dtype: int64

In [62]:
account_list2.to_csv('list2.csv')

In [64]:
nonUS=pd.read_csv('noUS.csv')

nonUS.head()
nonUS.count()

,Unnamed: 0,Account Name,Account ID,Account Owner_x,Billing State/Province,Billing Country,Cisco SL6,Territory,Current Owner,User ID
0,1,HELMAN ALDUBI PROVIDENT FUNDS LTD,0011T00002KXg8K,Soura Lanusse Diallo,NaN,IL,Israel_Geo_Owner_Team (SBU_ISR_SBM1),NaN,NaN,NaN
1,2,Kyungil University,0011T00002KXgL2,Forrest Bashaw AE,26,KR,KR_PS_SL_REG3_TAM1,NaN,NaN,NaN
2,3,OKINAWA UNIVERSITY,0011T00002KXgND,Rion Hotta,OKINAWA,JP,JP_PS_MD_OKINW_VSAM_EDU,NaN,NaN,NaN
3,5,Energy Safety Canada,0011T00002KXgYf,Blair Singler,ON,CA,SBU_CAN_WEST I_SBSM,NaN,NaN,NaN
4,7,ROOTY HILL RSL CLUB LTD,0011T00002KXhRz,Shefali Yadava,NSW,AU,SBU_ANZ_AU_NSW_TER1,NaN,NaN,NaN

Unnamed: 0                2341
Account Name              2341
Account ID                2341
Account Owner_x           2341
Billing State/Province    2060
Billing Country           2339
Cisco SL6                 2341
Territory                    0
Current Owner                0
User ID                      0
dtype: int64

In [ ]:
cisco_up=cisco.merge(salesforce, on)

In [67]:
nonUS_clean=nonUS.merge(cisco_updated, on='Cisco SL6', how='left')

nonUS_clean.count()

Unnamed: 0                2341
Account Name              2341
Account ID                2341
Account Owner_x           2341
Billing State/Province    2060
Billing Country           2339
Cisco SL6                 2341
Territory_x                  0
Current Owner                0
User ID_x                    0
Territory_y                  0
Owner                        0
PostalCode                   0
City                         0
State                        0
Country                      0
User ID_y                    0
dtype: int64

In [68]:
nonUS_clean.isnull().sum()

Unnamed: 0                   0
Account Name                 0
Account ID                   0
Account Owner_x              0
Billing State/Province     281
Billing Country              2
Cisco SL6                    0
Territory_x               2341
Current Owner             2341
User ID_x                 2341
Territory_y               2341
Owner                     2341
PostalCode                2341
City                      2341
State                     2341
Country                   2341
User ID_y                 2341
dtype: int64